<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>7997612748827495</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>1920</width>
        <height>1080</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="2385623779050763">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="old_paper" uid="97">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>957</x>
                        <y>570</y>
                        <z>0</z>
                        <width>2000</width>
                        <height>1333</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.500375092</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Btn_SAVE" uid="11">
                    <properties>
                        <type>Button</type>
                        <text>SAVE</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>No</auto-font-size>
                        <id-optional>menuButton</id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>704</x>
                        <y>790</y>
                        <z>0</z>
                        <width>440</width>
                        <height>129</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Btn_LOAD" uid="13">
                    <properties>
                        <type>Button</type>
                        <text>LOAD</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>No</auto-font-size>
                        <id-optional>menuButton</id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>704</x>
                        <y>497</y>
                        <z>0</z>
                        <width>439</width>
                        <height>132</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Btn_START" uid="14">
                    <properties>
                        <type>Button</type>
                        <text>NEW GAME</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>No</auto-font-size>
                        <id-optional>menuButton</id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>704</x>
                        <y>203</y>
                        <z>0</z>
                        <width>439</width>
                        <height>132</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer 1" sid="147416024722228">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Frame1" uid="93">
                    <properties>
                        <left-margin>35</left-margin>
                        <right-margin>35</right-margin>
                        <top-margin>35</top-margin>
                        <bottom-margin>35</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Exact</seams>
                    </properties>
                    <instance-variables>
                        <FrameNr>1</FrameNr>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>707</x>
                        <y>205</y>
                        <z>0</z>
                        <width>436</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Frame1" uid="94">
                    <properties>
                        <left-margin>35</left-margin>
                        <right-margin>35</right-margin>
                        <top-margin>35</top-margin>
                        <bottom-margin>35</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Exact</seams>
                    </properties>
                    <instance-variables>
                        <FrameNr>1</FrameNr>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>707</x>
                        <y>500</y>
                        <z>0</z>
                        <width>436</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Frame1" uid="95">
                    <properties>
                        <left-margin>35</left-margin>
                        <right-margin>35</right-margin>
                        <top-margin>35</top-margin>
                        <bottom-margin>35</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Exact</seams>
                    </properties>
                    <instance-variables>
                        <FrameNr>1</FrameNr>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>707</x>
                        <y>791</y>
                        <z>0</z>
                        <width>436</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TextDifficulty" uid="98">
                    <properties>
                        <text>This is here to load the font family.</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Tempus Sans ITC,-64,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                        <drop-shadow-x-offset>1</drop-shadow-x-offset>
                        <drop-shadow-y-offset>0</drop-shadow-y-offset>
                        <drop-shadow-color>0,0,0</drop-shadow-color>
                        <drop-shadow-blur>5</drop-shadow-blur>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>418</x>
                        <y>-411</y>
                        <z>0</z>
                        <width>947</width>
                        <height>100</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
